@page "/Goddass"
@namespace Integrity.Pages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Integrity.Shared

@inject NavigationManager NavigationManager

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>F3T1W</title>
</head>

<Header />

<header class="bg-dark" style="padding-top:3rem;">
    <div class="container">
        <div class="row index-row">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h2 class="fw-bold">Orgasm</h2>
                    <p class="fw-bold text-success mb-2">Museum of the deification of the great lady</p>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto mt-5">
                <div class="container">
                    <div class="row mb-4">
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top mp3-cover" src="https://www.stockvault.net/data/2017/09/30/239530/thumb16.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Lovekickone</h4>
                                    <p class="card-text">neon</p>
                                    <div class="mp3-audio">
                                        <audio controls class="mp3-audio col-12">
                                            <source src="http://blog.landr.com/wp-content/uploads/2017/07/LANDR-WAVY-neon.wav" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.mp3" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.ogg" type="audio/ogg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.wav" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top mp3-cover" src="https://www.stockvault.net/data/2017/09/30/239530/thumb16.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Lovekickone</h4>
                                    <p class="card-text">neon</p>
                                    <div class="mp3-audio">
                                        <audio controls class="mp3-audio col-12">
                                            <source src="http://blog.landr.com/wp-content/uploads/2017/07/LANDR-WAVY-neon.wav" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.mp3" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.ogg" type="audio/ogg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.wav" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top mp3-cover" src="https://www.stockvault.net/data/2017/09/30/239530/thumb16.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Lovekickone</h4>
                                    <p class="card-text">neon</p>
                                    <div class="mp3-audio">
                                        <audio controls class="mp3-audio col-12">
                                            <source src="http://blog.landr.com/wp-content/uploads/2017/07/LANDR-WAVY-neon.wav" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.mp3" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.ogg" type="audio/ogg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.wav" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top mp3-cover" src="https://www.stockvault.net/data/2017/09/30/239530/thumb16.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Lovekickone</h4>
                                    <p class="card-text">neon</p>
                                    <div class="mp3-audio">
                                        <audio controls class="mp3-audio col-12">
                                            <source src="http://blog.landr.com/wp-content/uploads/2017/07/LANDR-WAVY-neon.wav" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.mp3" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.ogg" type="audio/ogg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.wav" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top mp3-cover" src="https://www.stockvault.net/data/2017/09/30/239530/thumb16.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Lovekickone</h4>
                                    <p class="card-text">neon</p>
                                    <div class="mp3-audio">
                                        <audio controls class="mp3-audio col-12">
                                            <source src="http://blog.landr.com/wp-content/uploads/2017/07/LANDR-WAVY-neon.wav" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.mp3" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.ogg" type="audio/ogg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.wav" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <img class="card-img-top mp3-cover" src="https://www.stockvault.net/data/2017/09/30/239530/thumb16.jpg" alt="Card image cap">
                                <div class="card-block">
                                    <h4 class="card-title">Lovekickone</h4>
                                    <p class="card-text">neon</p>
                                    <div class="mp3-audio">
                                        <audio controls class="mp3-audio col-12">
                                            <source src="http://blog.landr.com/wp-content/uploads/2017/07/LANDR-WAVY-neon.wav" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.mp3" type="audio/mpeg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.ogg" type="audio/ogg">
                                            <source src="audio/lp_78_am_guitar_funk_reggae.wav" type="audio/wav">
                                            Your browser does not support the audio element.
                                        </audio>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<Footer />

<script src="assets/js/bold-and-dark.js"></script>