@page "/"

@using Integrity.Shared

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>F3T1W</title>
</head>

<Header />

<header class="bg-dark">
    <div class="container pt-4 pt-xl-5">
        <div class="row index-row">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <p class="fw-bold text-success mb-2">Tier 1 Family</p>
                    <h2 class="fw-bold">Ne liji hui, sosi pizdaaa!</h2>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                    <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.8" src="img/products/3.jpg"></div>
                    <div style="position: relative;flex: 0 0 45%;transform: translate3d(-5%, 20%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.4" src="img/products/2.jpg"></div>
                    <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);"><img class="img-fluid" data-bss-parallax="" data-bss-parallax-speed="0.25" src="img/products/1.jpg"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<Footer />

<script src="js/bold-and-dark.js"></script>