@page "/Login"
@namespace Integrity.Pages
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Integrity.Shared

@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<script src="assets/js/bold-and-dark.js"></script>