@inject NavigationManager NavigationManager

<footer class="footer">
    <div class="container py-4 py-lg-5">
        <div class="text-muted d-flex justify-content-between align-items-center">
            <p class="mb-0">Copyright © 2024 F3T1W</p>
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a href="https://www.reddit.com/user/F3T1W" target="_blank">
                        <img src="img/socialMediaIcons/reddit.png" height="30px" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://t.me/f3t1w" target="_blank">
                        <img src="img/socialMediaIcons/telegram.png" height="30px" />
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/f3t1w" target="_blank">
                        <img src="img/socialMediaIcons/instagram.png" height="30px" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
